# Vehicle Diagnostics Platform - environment overrides
VDP_CONFIG_DIR=./config
VDP_LOG_DIR=./logs
VDP_LOG_LEVEL=INFO
VDP_DB_PATH=./logs/vdp_logs.sqlite3
VDP_DEFAULT_VCI=VIRTUAL
VDP_THEME=dark
VDP_DEVELOPER_MODE=0
